

<html>
<head>
    <style>
        body {
            background-image: url(../Files/pic4.jpg);
            background-position: center;
            
            height :500px;
            
        }
    </style>
</head>
<body>


</body>
<h2><b> <center> Manange Your Products Here</center> </b></h2>
<h2><b>Log in to Add new products , categories and Upload/down load documents</b></h2>
